<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="../static/node_modules/angular/angular.js"></script>
    <script type="application/javascript" src="../static/node_modules/angular-route/angular-route.js"></script>
    <script type="application/javascript" src="../static/node_modules/moment/moment.js"></script>
    <script type="application/javascript" src="../static/node_modules/angular-moment/angular-moment.js"></script>
    <script type="application/javascript" src="../static/js/app.js"></script>
    <script type="application/javascript" src="../static/js/controllers/ScheduleController.js"></script>
    <script type="application/javascript" src="../static/js/controllers/ManageEmployeesController.js"></script>
    <script type="application/javascript" src="../static/js/controllers/HomeController.js"></script>
</head>
<body ng-app="Scheduler">
<div ng-view>
</div>

</body>
</html>